@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body{
    padding: 0;
    margin: 0;
    font-family: "Quicksand", sans-serif;
}

.nav-bar{
    display: flex;
    padding: 10px 60px;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
.logo{
    height: 90px;
    width: 90px;
    margin: 0;
    padding: 0;
}
.links{
    width: 30%;
    display: flex;
    justify-content: space-around;
}
.nav-link{
    border: none;
    background-color: white;
    font-size: 20px;
    margin: 0;
    padding-top: 17px;
}
