@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body{
    padding: 0;
    margin: 0;
    font-family: "Quicksand", sans-serif;
}

.nav-bar{
    display: flex;
    padding: 10px 60px;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
.logo{
    height: 90px;
    width: 90px;
    margin: 0;
    padding: 0;
}
.links{
    width: 30%;
    display: flex;
    justify-content: space-around;
}
.nav-link{
    border: none;
    background-color: white;
    font-size: 20px;
    margin: 0;
    padding-top: 17px;
    transition: transform 0.3s ease;
}
.nav-link:hover{
    transform: scale(1.2);
    animation: wobble 0.5s ease;
    color: #FFC20E;
}
@keyframes wobble{
    0% { transform: scale(1.2) rotate(0deg); }
    25% { transform: scale(1.2) rotate(3deg); }
    50% { transform: scale(1.2) rotate(-3deg); }
    75% { transform: scale(1.2) rotate(2deg); }
    100% { transform: scale(1.2) rotate(0deg); }
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
.burger-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.description{
    width: 500px;
    padding-top: 40px;
}
.chicken-burger-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
}
.burger-image{
    width: 430px;
    height: 350px;
}
p{
    font-size: 30px;
}
.highlight{
    color: goldenrod;
}
.order{
    width: 120px;
    height: 40px;
    border-radius: 15px;
    font-size: 15px;
    background-color: #FFC20E;
    transition: transform 0.3s ease;
}
.order:hover{
    transform: scale(1.2);
    animation: wobble 0.5s ease;
}
.container2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 40px;

}
.container2 img{
    width: 400px;
}
.locations p{
    font-size: 20px;
}
.times p {
    font-size: 20px;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    background-color: #AAB8C2;
    color: white;
}
.footer p {
    display: inline-block;
    margin-right: 20px;
    font-size: 20px;
    margin: 0;
}
.footer h1{
    margin: 20px;
    font-size: 25px;
}
.contacts{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.item-cards{
    display: flex;
    width: cla(100% - 70px);
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 130px;
    padding: 40px 70px;
}
.menu-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #AAB8C2 solid 2px;
    border-radius: 15px;
    padding: 30px;
    width: 35%;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}
.food-image{
    width: 300px;
    transition: transform 0.3s ease;
}
.food-image:hover{
    transform: scale(1.2);
}
.menu-card p{
    font-size: 20px;
}